!.bashrc
!.bash_aliases
!.profile
!.git-prompt.sh
!.transfer.sh
!.gitignore
!.vimrc
!.bash_profile
!.spacemacs
!.emacs.d/private/*
!.bash_function
!qzerty.keylayout
!.vim/
.vim/plugged
!.vimrc
!.bash_ae.dist
!.iterm2
*

